@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 0.85rem;
  display: flex;
  flex-direction: row;

  /*grid-template-columns: 20% auto;
  grid-template-areas: "sidebar main"; */
}

*,
::before,
::after {
  font-family: Roboto, sans-serif;
  box-sizing: inherit;
  font-weight: 300;
}

.menu {
  border-right: 1px solid rgb(128, 128, 128, 0.5);
  height: 100vh;
  width: 25%;
  padding: 20px;

  z-index: 1;
  background: #fbfcfd;
}

.table {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: scroll;
}

.tableCell {
  width: 100%;
}

.main {
  grid-area: main;
  width: 100%;
  padding: 30px;
  margin-left: 25%;
}

.radioButtons {
  margin-bottom: 40px;
  margin-top: 16px;
}

.radioButtons > label {
  font-size: 1rem;
  margin-bottom: 5px;
  /* font-family: "Roboto Light", sans-serif; */
}

.workLoadText {
  /* font-family: "Roboto Light", sans-serif; */

  font-size: 1.25rem;
  margin-top: 30px;
}

.red {
  color: #f44336;
}

.green {
  color: #4caf50;
}

@media only screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    font-size: 1rem;

    /*grid-template-columns: 20% auto;
    grid-template-areas: "sidebar main"; */
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .menu > h1 {
    display: none;
  }

  .workLoadDiv {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    font-size: 0.75rem;
  }
}
