@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 0.85rem;

  /*grid-template-columns: 20% auto;
  grid-template-areas: "sidebar main"; */
}

*,
::before,
::after {
  font-family: Roboto, sans-serif;
  box-sizing: inherit;
  font-weight: 300;
}

.menu {
  border-right: 1px solid rgb(128, 128, 128, 0.5);
  height: 100vh;
  width: 25%;
  padding: 20px;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  background: #fbfcfd;
}

.table {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TableCell {
  overflow-y: scroll;
}

.main {
  grid-area: main;
  width: 100%;
  padding: 30px;
  margin-left: 25%;
}

.radioButtons {
  margin-bottom: 40px;
  margin-top: 16px;
}

.radioButtons > label {
  font-size: 1rem;
  margin-bottom: 5px;
  /* font-family: "Roboto Light", sans-serif; */
}

.workLoadText {
  /* font-family: "Roboto Light", sans-serif; */

  font-size: 1.25rem;
  margin-top: 30px;
}

.red {
  color: #f44336;
}

.green {
  color: #4caf50;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-areas: "sidebar main";
  }

  .menu {
    border-right: 1px solid rgb(128, 128, 128, 0.5);
    grid-area: sidebar;
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    z-index: 1000;
  }

  .main {
    grid-area: main;
  }

  .red {
    color: #f44336;
  }

  .green {
    color: #4caf50;
  }
}
